<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kreasi.dev", suffix: " · Tempat developer memamerkan karya" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><h1>👾 Kreasi.dev</h1></a>
      </div>
      <div class="auth">
          <%= if @current_user do %>
            <span class="welcome"><%= @current_user.email %> - <%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "" %></span>
          <% else %>
            <%#= link "Login", to: Routes.user_session_path(@conn, :new) %>
            <%= link "Sign in with GitHub", to: Routes.pow_assent_authorization_path(@conn, :new, "github") %>

          <% end %>
        </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
