@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background: #0d1117;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
}

.container {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.auth-link {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

li.list {
  display: flex;
  width: 800px;
  color: #c9b997;
  border-bottom: 1px solid #21262d;
  padding-bottom: 24px;
  padding-top: 24px;
}

.upvote {
  flex: 2;
}

.upvote button {
  border: 1px solid #2f353c;
  border-radius: 16px;
  padding: 8px 16px;
  background: #0d1117;
  color: #fff;
  cursor: pointer;
}

.upvote button:disabled {
  background: black;
  cursor: default;
}

.content {
  flex: 8;
}

.comment {
  flex: 2;
}

.title {
  font-weight: 600;
}
.title a {
  color: #c9b997;
  text-decoration: none;
}

.url {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  color: #8b949e;
}

.action {
  display: flex;
  width: 800px;
  justify-content: flex-end;
  padding-top: 24px;
}

.new a {
  padding: 6px 12px;
  border: 1px solid #c9b997;
  border-radius: 16px;
  color: #fff;
  text-decoration: none;
}
