<%= form_for @comment_changeset, Routes.post_comment_path(@conn, :create, @post), fn f -> %>
  <%= textarea f, :body, rows: 12 %>
  <%= error_tag f, :body %>

  <div class="actions">
    <%= submit "Tambahkan komentar" %> <span><%= link "Kembali", to: "/" %></span>
  </div>
<% end %>
