<strong><%= link @post.title, to: Routes.post_path(@conn, :show, @post.id) %></strong>
<p>
  <%= @post.body %>
</p>

<%= render KreasidevWeb.CommentView, "new.html", conn: @conn, post: @post, comment_changeset: @comment_changeset %>

<div class="comments">
    <%= for comment <- @post.comments do %>
      <div class="comment">
        <small class="comment-data"><%= comment.updated_at %></small>
        <p class="comment-body"> <%= comment.body %> </p>
      </div>
    <% end %>
</div>

